<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-4 py-md-3">
            <h2 class="title">About us</h2>
            <ul class="breadcrumbs-custom-path mt-2 text-center">
                <li><a href="~/digicorp/index.html">Anasayfa</a></li>
                <li class="mx-2">/ </li>
                <li class="active"> Hakkımızda</li>
            </ul>
        </div>
    </div>

</section>