@using BeeBilisim.Web.Models
@model List<AnasayfaModel>
@{
    Layout = "";

}

<br>
<h2 class="text-center">GÖVDE METNİ BİLGİSİ</h2>
<br />
<table class="table table-bordered col-md-12" >
    <thead>
        <tr>
            <th scope="col">Başlık</th>
            <th scope="col">Açıklama 1(Sol Taraf)</th>
            <th scope="col">Açıklama 2(Sağ Taraf)</th>
            <th scope="col" >Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.GovdeMetinBasligi</td>
                <td>@x.GovdeMetinAciklama1</td>
                <td>@x.GovdeMetinAciklama2</td>
                <td ><a href="/AdminPanel/GovdeMetniGetir/@x.Id" class="btn btn-warning text-center">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>

