@model BeeBilisim.Web.Models.HakkimizdaModel
@using System.Security.Claims
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "TelefonGetir";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
    string displayName = httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.Email).Value;

}


<h2 class="text-center">TELEFON BİLGİSİ</h2>
@using (Html.BeginForm("TelefonGuncelle", "AdminPanel", FormMethod.Post))
{
    <div class="padding:10px;">
        @Html.HiddenFor(x => x.Id)
        <div>
            <label>Telefon: </label><br />
            @Html.TextBoxFor(q => q.Telefon, new { @class = "form-control" })
        </div>
        <div>
            <input type="hidden" name="LastupUser" value="@displayName">
        </div>
        <div style="margin-top:15px;">
            <button class="btn btn-info">Güncelle</button>
        </div>
    </div>
}

