@using BeeBilisim.Web.Models
@model List<AnasayfaModel>
@{
    Layout = null;
}

<br>
<h2 class="text-center">TELEFON-FAX-EMAİL BİLGİSİ </h2>
<br />
<table class="table table-bordered col-md-12">
    <thead>
        <tr>
            <th scope="col">Telefon</th>
            <th scope="col">Fax</th>
            <th scope="col">Email</th>
            <th scope="col" >Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Telefon</td>
                <td>@x.Fax</td>
                <td>@x.Email</td>
                <td ><a href="/AdminPanel/TelefonFaxEmailGetir/@x.Id" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
