@using BeeBilisim.Web.Models
@model List<HakkimizdaModel>
@{
    Layout = "";

}

<br>
<h2 class="text-center">VİZYONUMUZ BİLGİSİ</h2>
<br />
<table class="table table-bordered col-md-12">
    <thead>
        <tr>
            <th scope="col">Vizyonumuz Metni</th>
            <th scope="col" style="text-align:center;">Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Vizyonumuz</td>
                <td style="text-align:center;"><a href="/AdminPanel/VizyonumuzGetir/@x.Id" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>

