@model BeeBilisim.Web.Models.AnaSayfaSliderModel
@{
    ViewData["Title"] = "YeniSliderEkle";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<h2>Yeni Slider Ekle</h2>

@using (Html.BeginForm("YeniSliderEkle", "AdminPanel", FormMethod.Post))
{
    <div>
        <div class="padding:10px;">
            <label>Slider Url: </label><br />
            @Html.TextBoxFor(q => q.FotoUrl, new { @class = "form-control" })

        </div>
        <div class="padding:10px;">
            <label>Kaçıncı Sırada Gösterilsin?: </label><br />
            @Html.TextBoxFor(q => q.Sira, new { @class = "form-control" })
        </div>

        <div style="margin-top:15px;">
            <button class="btn btn-primary">Ekle</button>
        </div>
    </div>
}


@*
    <form method="post" asp-action="YeniSliderEkle" asp-controller="AdminPanel" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="upload" />
    </form>
*@
